// Author: Sean Barker
// Date:   December 7, 2019
// Description: A2 Styles

// This is used to keep the page content contained on large screens
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

// Correctly size the logo
#logo {
  width: 15%;
  min-width: 250px;
}

// This is used to style the banner image
#img-head {
  height: 600px;

  background: url(Assets/bck_ban.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .hero {
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: "Raleway", sans-serif;
    line-height: 0.2;
    margin-top: 150px;
  }

  #hl1 {
    font-size: 72px;
    font-weight: 700;
    margin-top: 20px;

    img {
      margin-top: -20px;
    }
  }

  #hl2 {
    font-size: 48px;
    margin-top: -12.5px;

    #lan {
      color: #ee553b;
    }
  }
  #hl3 {
    color: white;
    font-size: 20px;
    margin-top: -5px;
  }
}

#about-sec {
  overflow: hidden;
  margin-top: 50px;
  img {
    width: 100%;
    margin-top: 25px;
  }
}
.titles {
  text-align: center;
  font-family: "Anton", sans-serif;
}
.title-fix {
  padding: 25px;
  font-size: 38px;
}
.subtitles {
  text-align: center;
  font-family: "roboto", sans-serif;
  font-size: 20px;
  color: #555555;
  margin-top: -10px;
}
.ail {
  text-align: center;
  font-family: "Anton", sans-serif;
  font-size: 20px;
  background-color: #17355f;
  color: white;
  padding: 10px 0;
}
#pgdiv {
  width: 100%;
}

// Styles the event section of the page
#event-sec {
  background-color: #17355f;
  color: white;

  .event-card {
    padding: 25px 5px;
    margin: 10px 1px;
    text-align: center;
    background-color: rgba($color: black, $alpha: 0.1);
    border-radius: 25px;
    border: 0.5px solid white;
    box-shadow: 1px 1px 3px rgb(119, 119, 119);

    img {
      width: 50%;
      margin: 25px 0;
    }
    h2 {
      font-family: "Anton", sans-serif;
      font-size: 35px;
    }
    h3 {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
    }
    p {
      margin: 10px 35px;
    }
    hr {
      border: 1px solid white;
      width: 50%;
    }
    a {
      color: #f6d55c;
      font-weight: 700;
    }
  }
}

#event-clearfix {
  background-color: #17355f;
  height: 50px;
}
#contact {
  background-color: #ebebeb;

  form {
    margin: 0 auto;
  }
  #message {
    height: 125px;
  }

  #errorMsg {
    margin-left: 20px;
    color: red;
  }
}

.icons {
  width: 100%;
  margin: 0 auto;
  .contact-titles {
    font-family: "raleway", sans-serif;
    font-size: large;
    font-weight: 700;
    margin-top: 25px;
  }
  a {
    text-decoration: none;
    color: black;

    display: inline-block;
    margin-top: 25px;
    .material-icons,
    .icon-text {
      vertical-align: middle;
    }
    .icon-text-caps,
    .icon-text-tweaked {
      text-transform: uppercase;
    }
  }
  .location-hours {
    margin-bottom: 25px;
  }
}
// Footer styles
footer {
  #footer-sec {
    background-color: #202023;
    padding-bottom: 30px;
    color: white;
    margin: auto;
    text-align: center;
  }
  #footer-logo {
    padding-top: 25px;
  }
  #logo-foot {
    width: 35vw;
    max-width: 180px;
    background-color: #202023;
  }
}

//styles for small screens
@media (max-width: 600px) {
  #img-head {
    height: 400px !important;
    background: url(Assets/bck_ban.jpg) no-repeat center center scroll;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #logo {
    min-width: 200px !important;
  }
  .hero {
    max-width: 300px !important;
  }
  #hl1 {
    font-size: 36px !important;
    margin-top: -100px !important;

    img {
      width: 20%;
      margin-top: 5px !important;
      margin-bottom: 10px;
    }
  }
  #hl2 {
    font-size: 24px !important;
  }
  #hl3 {
    font-size: 15px !important;
  }
  #pgdiv {
    width: 100%;
    margin-top: 50px;
  }
  #event-sec {
    p {
      margin: auto 2px !important;
    }
  }
}
